# Global variables
variables:
  APP_NAME: "Cabin Announements.exe"
  APP_NAME_CLEAN : "CabinAnnouncements.exe"
  MAIN_SCRIPT: "cabinselection.py"
  RELEASE_FLAG: "false"
  LUA_SCRIPT: "cabinannouncements.lua"

stages:
  - build
  - release

windows_bin:
  stage: build
  image:
    name: batonogov/pyinstaller-windows:latest
    entrypoint: ['']

  # Only run on Git tags (releases)
  rules:
    - if: $CI_COMMIT_TAG
      when: always

  script:
    - echo "Creating Windows artifact"
    - pip install -r requirements.txt
    - pyinstaller --onefile --windowed --noconsole --name "$APP_NAME_CLEAN" $MAIN_SCRIPT
    - cp ./dist/*.exe .
  artifacts:
    - name: "$APP_NAME_CLEAN"
      paths:
        - '*.exe'
      when: on_success
    - name: "$LUA_SCRIPT"
      paths:
        - 'cabinannouncements.lua'
      when: on_success


create_release:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest

  rules:
    - if: $CI_COMMIT_TAG
      when: on_success

  script:
    - echo "Creating release for tag $CI_COMMIT_TAG"
    - echo $pwd
    - ls

  release:
    tag_name: $CI_COMMIT_TAG
    name: "Release $CI_COMMIT_TAG"

    description: "Automated release for cabin announcements switcher with tag $CI_COMMIT_TAG"

    assets:
      links:
        - name: "$APP_NAME"
          url: $CI_SERVER_URL/$CI_PROJECT_PATH/-/jobs/artifacts/$CI_COMMIT_TAG/file/$APP_NAME_CLEAN?job=windows_bin
          filepath: /$APP_NAME_CLEAN
        - name: "$LUA_SCRIPT"
          url: $CI_SERVER_URL/$CI_PROJECT_PATH/-/jobs/artifacts/$CI_COMMIT_TAG/file/$LUA_SCRIPT?job=windows_bin
          filepath: /$LUA_SCRIPT