# Global variables
variables:
  APP_NAME: "Toliss Test.exe"
  MAIN_SCRIPT: "cabinselection.py"
  # Set the target architecture here: 64bit is the default.
  # The image automatically handles the cross-compilation environment.
  TARGET_ARCH: "64bit" 

windows_bin:
  stage: deploy
  image:
    name: batonogov/pyinstaller-windows:latest
    entrypoint: ['']

  # Only run on Git tags (releases)
  rules:
    - if: $CI_COMMIT_TAG
      when: always

  script:
    - echo "Creating Windows artifact"
    - pip install -r requirements.txt
    - pyinstaller --onefile --name test.exe cabinselection.py
    
  artifacts:
    name: "$APP_NAME"
    paths:
      - dist/
    when: on_success